#topbannerpadding {
    padding-right: 100px;
}

#dreambigpadding {
    padding-right: 90px;
}

body {
    font-family: 'Poppins', "open sans";
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

.orange-color {
    color: orange;
}

.flexiable {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experinence-item {
    width: 45%;
    margin-left: 6%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 5px;
    padding-bottom: 50px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#fullstack {
    border-left: 7px solid tomato;
    padding-right: 5px;
}

#wordpress {
    border-left: 7px solid blue;
    padding-right: 5px;
}

footer {
    text-align: center;
}